body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}



.header-size{
    padding: 30px 30px 0 130px;
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    align-items: center;
    padding-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
nav li{
    margin-left: 30px;
    list-style: none;
    
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}
.primary-color{
    color: #FD6E0A;
}
.primary-button{
    color: white;
    background-color: #FD6E0A;
    width: 150px;
    height: 64px;
    border: 0px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
}
.banner-content{
    width: 585px;
    height: 356px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hardy{
    height: 676px;
    width: 584px;
}
.banner-text{
    font-size: 18px;
    color: #757575;
    margin-top: 4px;
}
.banner-name{
    color: #181818;
    font-weight: 700;
    font-size: 85px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.banner-greet{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}
.download-button{
    width: 200px;
}
.contact-button{
    color: #FD6E0A;
    background-color: #FFF8F3;
    border: 1px solid #FD6E0A;
    margin-left: 20px;
}
/* main part  */

main{
    max-width: 1140px;
    margin: 0 auto;
}

.about{
    padding: 130px;
    background-color: #FFF8F3;
    /* height: 550px; */
    border-radius: 10px;
    margin: 130px 0;
    
}
.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700
}
.do{
    margin-bottom: 30px;
}
.info{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.info-title{
    color: #757575;
    margin-bottom: 0;
}
.info-name{
    color: #474747;
    margin-top: 5px;
}
.about-description{
    font-size: 18px;
    color: #757575;
}
.experience{
    width: 267px;
    height: 377px;
    box-shadow: 5px 5px 10px lightgrey;
    margin-right: 30px;
    padding: 20px;
    border-radius: 5px;
}
.experience-container{
    display: flex;
    margin: 30px 0 70px 0;
    justify-content: space-evenly;
    padding: 20px;
    
}
.content-box{
    width: 204px;
    height: 243px;
}

.summary-box{
    display: flex;
    justify-content: space-evenly;
    
}
.summary-container{
    width: 511px;
    height: 175px;
    margin-bottom: 30px;
}
 .summary-title{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 5px;
}
.summary-topic{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}
.summary-description{
    color: #757575;
    margin-top: 15px;
}
.summary-name{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin: 3px 0;
}
.summary{
    margin-top: 30px;
}
.cv-button{
    text-align: center;
}
.footer-text{
    background-color: #FFF8F3;
    display: flex;
    justify-content: space-evenly;
    width: 1600px;
    height: 780px;
}
